/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1800px) {
  .h1 {
    font-size: 190px;
  }
  footer {
    font-size: 28px;
    line-height: normal;
  }
  .footer-bottom {
    font-size: 24px;
  }
  .list-social a {
    width: 80px;
    height: 80px;
    min-width: 80px;
    padding: 25px;
  }
  .link-instagram::before {
    top: 12px;
    width: 10px;
    height: 10px;
    right: 18px;
  }
  .text-description {
    max-width: 710px;
    margin: 30px auto 85px;
  }
}
@media only screen and (max-width: 1600px) {
  .h1 {
    font-size: 130px;
  }
  h2, .h2 {
    font-size: 80px;
  }
  .signs-wrapper {
    border-radius: 30px;
    padding: 50px 0 0;
  }
  .subtitle-text {
    font-size: 30px;
  }
  .think-about {
    background-position: right center;
  }
  .think-about__content {
    max-width: 700px;
  }
  .about-course {
    padding: 50px 0;
    background-position: center bottom;
  }
  .steps-courses-about::before, .steps-courses-about:after {
    width: 70px;
    height: 180px;
  }
  .steps-courses-about .box-text {
    max-width: 865px;
  }
  .steps-courses-about h3 {
    font-size: 50px;
  }
  .result-courses-box {
    font-size: 26px;
  }
  .for-whom-footer .box-text {
    font-size: 26px;
    max-width: 600px;
  }
  .for-whom-box {
    font-size: 30px;
  }
  .for-whom-box .box-text {
    font-size: 26px;
  }
  .for-whom h3 {
    font-size: 36px;
    margin: 30px auto 20px;
    max-width: 1000px;
  }
  .price-card {
    font-size: 30px;
  }
  .price-card h3 {
    font-size: 70px;
  }
  .price-card .price {
    font-size: 50px;
  }
  .price-card h4 {
    font-size: 40px;
  }
  .price-card__body ul span {
    font-size: 26px;
  }
  .price-card__body ul ul {
    font-size: 26px;
  }
  .list-decor > li p::before {
    width: 24px;
    min-width: 24px;
    height: 20px;
    margin: 7px 13px 0 0;
  }
  .places {
    font-size: 26px;
  }
  .list-dots li::before {
    margin: 10px 10px 0 0;
  }
}
@media only screen and (max-width: 1400px) {
  h2, .h2 {
    font-size: 60px;
  }
  h3, .h3 {
    font-size: 45px;
  }
  body {
    font-size: 30px;
    line-height: 130%;
  }
  .btn {
    font-size: 28px;
    height: 100px;
  }
  .btn-icon {
    max-width: 30px;
    margin: 0 5px 0 0;
  }
  .btn-decor::before, .btn-decor:after {
    width: 95px;
    height: 165px;
    top: -150px;
  }
  .btn-decor::before {
    left: 10px;
  }
  .btn-decor::after {
    right: 10px;
  }
  .prices {
    margin: 0 0 -40px;
  }
  footer {
    font-size: 22px;
  }
  footer .h1 {
    margin: 0 auto 40px;
  }
  .footer-bottom {
    font-size: 18px;
  }
  h1, .home .h1 {
    font-size: 100px;
  }
  .home-content {
    max-width: 600px;
  }
  .home-content h1, .home-content .h1 {
    text-align: center;
  }
  .home-image {
    width: calc(100% - 600px);
  }
  .slogan {
    font-size: 24px;
    padding: 20px;
  }
  .home-image-text {
    font-size: 26px;
  }
  .home .box-text {
    max-width: 500px;
  }
  header {
    max-width: 600px;
  }
  .date-box {
    margin: 0 auto;
  }
  .routine-icons {
    max-width: 220px;
  }
  .combine-image {
    margin: -50px 0 -10px;
  }
  .combine-description {
    padding: 55px 40px 55px 180px;
  }
  .combine-wrapper {
    border-radius: 30px;
    padding: 50px 0 10px;
  }
  .combine .col-50 {
    width: 100%;
  }
  .combine h2 {
    max-width: 440px;
  }
  .combine .d-tablet {
    display: none;
  }
  .combine .d-mobile {
    display: block;
  }
  .combine-history {
    max-width: 800px;
  }
  .combine-history::before {
    width: 80px;
    height: 80px;
    min-width: 80px;
    background-size: contain;
  }
  .combine-box {
    margin: 18px 0 15px;
    padding: 20px;
  }
  .combine-box img {
    max-width: 30px;
    margin: 0 0 10px;
  }
  .my-goal {
    margin: 20px 0 15px;
  }
  .text-description {
    max-width: 730px;
  }
  .combine-image {
    margin: 20px auto;
  }
  .about-course-content {
    max-width: 685px;
  }
  .about-course .h1, .about-course h2.h1 {
    font-size: 130px;
    text-align: center;
  }
  .what-awaits-box {
    max-width: 450px;
    padding: 200px 30px 120px;
  }
  .what-awaits-box2 {
    padding: 86px 30px 210px;
  }
  .what-awaits-wrapper {
    margin: 0;
  }
  .price-card {
    font-size: 24px;
  }
  .price-card__head {
    height: 210px;
  }
  .price-card h3 {
    font-size: 50px;
  }
  .price-card .price {
    font-size: 40px;
  }
  .price-card h4 {
    font-size: 30px;
  }
  .price-card__body ul span {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
  .row {
    margin: 0 -10px;
  }
  .col-50, .col-30 {
    padding: 0 10px;
  }
  .box-text p {
    margin: 0 0 20px;
  }
  .box-text p:last-child {
    margin: 0;
  }
  footer {
    font-size: 20px;
  }
  .footer-bottom {
    font-size: 16px;
  }
  .footer-box:last-child a {
    margin: 0 0 20px auto;
  }
  .footer-box:last-child a:last-child {
    margin: 0 0 0 auto;
  }
  .list-social a {
    width: 60px;
    height: 60px;
    min-width: 60px;
    padding: 17px;
  }
  .link-instagram::before {
    top: 8px;
    width: 8px;
    height: 8px;
    right: 12px;
  }
  .h1 {
    font-size: 120px;
  }
  body {
    font-size: 24px;
  }
  h2, .h2 {
    font-size: 50px;
  }
  h3, .h3 {
    font-size: 35px;
  }
  .routine h3 {
    max-width: 600px;
  }
  .routine-top {
    padding: 0 0 300px;
  }
  .signs-box {
    margin: 0 0 15px;
  }
  .signs-box__text .box-text {
    font-size: 20px;
  }
  .signs-box__number {
    width: 80px;
    height: 80px;
    min-width: 80px;
    font-size: 34px;
    margin-left: 30px;
  }
  .signs-box__number::before {
    width: 80px;
    height: 80px;
  }
  .signs-box__text {
    margin: -40px 0 0;
    padding: 63px 12px 30px 30px;
  }
  .think-about {
    margin: 0;
    padding: 50px 0 0;
    background: transparent;
  }
  .think-about h2 {
    text-align: center;
  }
  .think-about__content {
    max-width: none;
  }
  .think-about__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -30px auto -120px;
    z-index: -1;
    position: relative;
  }
  .think-about__img img {
    width: 100%;
  }
  .think-about .h2 {
    margin: 30px auto 0;
  }
  .think-about-info {
    max-width: none;
  }
  .think-about-question::before {
    width: 60px;
    height: 60px;
    min-width: 60px;
    padding: 10px;
    background-size: 30px;
  }
  .about-course .h1, .about-course h2.h1 {
    font-size: 90px;
  }
  .about-course-content {
    max-width: 500px;
  }
  .about-course-history {
    padding: 25px 50px;
  }
  .on-course .col-30 {
    width: 50%;
  }
  .on-course-card {
    font-size: 28px;
  }
  .on-course-card h4 {
    font-size: 30px;
    margin: 0 0 5px;
  }
  .on-course-card .box-text p {
    margin: 0 0 5px;
  }
  .on-course-total {
    font-size: 28px;
  }
  .on-course-total h3 {
    font-size: 34px;
  }
  .what-awaits-box {
    max-width: 350px;
    padding: 120px 30px 95px;
  }
  .what-awaits-box2 {
    padding: 62px 30px 127px;
    margin: 75px 0 0;
  }
  .tabs__caption li {
    width: 100px;
    height: 85px;
    padding: 5px;
    font-size: 50px;
    border-radius: 8px;
  }
  .tabs__caption .tabs-mouse {
    width: 310px;
    font-size: 26px;
  }
  .steps-courses-box__body {
    font-size: 26px;
  }
  .steps-courses-box__body .box-text::before {
    width: 20px;
    min-width: 20px;
    height: 15px;
  }
  .steps-courses-box__footer {
    font-size: 26px;
    border-radius: 20px;
    padding: 20px;
  }
  .tabs-list {
    max-width: 380px;
  }
  .tabs__caption .tabs-mouse {
    width: 210px;
    font-size: 18px;
  }
  .tabs__caption .tabs-mouse::before {
    width: 20px;
    min-width: 20px;
    height: 25px;
  }
  .tabs-information {
    width: calc(100% - 380px);
  }
  .steps-courses-about {
    margin: 50px auto 0;
  }
  .steps-courses-about .box-text {
    max-width: 620px;
  }
  .steps-courses-about::before, .steps-courses-about:after {
    width: 50px;
    height: 125px;
  }
  .result-courses-box {
    font-size: 18px;
    border-radius: 20px;
    padding: 20px;
  }
  .result-courses-box::before {
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin: 0 0 70px;
  }
  .result-courses-wrapper {
    margin: 20px auto 10px;
  }
  .result-courses {
    margin: 50px 0;
  }
  .result-courses h4 {
    max-width: 700px;
  }
  .for-whom {
    padding: 90px 0 50px;
  }
  .for-whom h3 {
    font-size: 22px;
    max-width: 700px;
    margin: 10px auto 15px;
  }
  .for-whom-box {
    font-size: 22px;
    border-radius: 20px;
    padding: 250px 20px 20px 20px;
  }
  .for-whom-box .box-text {
    font-size: 20px;
  }
  .for-whom-box h4 {
    margin: 0 0 8px;
  }
  .prices {
    padding: 0 0 116px;
  }
  .prices .col-30 {
    width: 100%;
  }
  .price-card {
    max-width: 700px;
    margin: 0 auto 40px;
  }
}
@media only screen and (max-width: 992px) {
  .logo {
    font-size: 30px;
  }
  .logo span::before {
    width: 48px;
    min-width: 48px;
    height: 23px;
  }
  .date-box {
    font-size: 24px;
    padding: 10px 20px;
  }
  .date-box p {
    font-size: 24px;
  }
  .link-whatsapp {
    width: 55px;
    height: 55px;
    min-width: 55px;
  }
  .btn {
    font-size: 20px;
    height: 70px;
  }
  .btn-decor::before, .btn-decor:after {
    width: 65px;
    height: 115px;
    top: -100px;
  }
  .h1 {
    font-size: 80px;
  }
  footer .list-social {
    order: -1;
    width: 100%;
    margin: 0 auto 10px;
  }
  footer .h1 {
    order: -1;
    margin: 0 auto 20px;
  }
  .footer-box {
    margin: 0 auto 0 0;
  }
  .footer-box:last-child {
    margin: 0;
  }
  .home-content {
    max-width: 450px;
  }
  .home-image {
    width: calc(100% - 450px);
  }
  .home-image-text {
    font-size: 16px;
  }
  .home-image-text::before {
    width: 600px;
    height: 350px;
  }
  .slogan {
    font-size: 16px;
    line-height: 130%;
    padding: 10px;
    margin: 6px auto 2px;
  }
  .home {
    padding: 135px 0 45px;
  }
  .home .h1, .home h1 {
    font-size: 70px;
  }
  .home .box-text {
    font-size: 26px;
    line-height: 130%;
  }
  header {
    max-width: 480px;
  }
  .subtitle-text {
    font-size: 20px;
  }
  .signs .subtitle-text {
    margin: 0 0 20px;
  }
  .signs .subtitle-text::before {
    width: 12px;
    height: 10px;
    min-width: 12px;
    margin: 7px 10px 0 0;
  }
  .author-text {
    margin: -80px auto 0;
  }
  .about-course .h1, .about-course h2.h1 {
    font-size: 70px;
  }
  .steps-courses-about {
    padding: 108px 30px 20px;
    font-size: 16px;
    border-radius: 20px;
    margin: 20px auto 0;
  }
  .steps-courses-about h3 {
    font-size: 28px;
    margin: 0 auto 6px;
  }
  .steps-courses-about .box-text {
    max-width: none;
  }
  .steps-courses-about::before, .steps-courses-about:after {
    top: 20px;
    width: 30px;
    height: 72px;
  }
  .steps-courses-about::before {
    left: calc(50% - 35px);
    transform: rotate(-15deg);
  }
  .steps-courses-about:after {
    transform: rotate(15deg);
    right: calc(50% - 35px);
  }
  .steps-courses-wrapper {
    border-radius: 30px;
    padding: 50px 0 10px;
  }
  .steps-courses-box__footer, .steps-courses-box__body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .btn {
    font-size: 15px;
    height: 70px;
    padding: 20px 25px;
  }
  .btn::before, .btn:after {
    width: 47px;
    height: 81px;
    top: -72px;
  }
  .btn::before {
    left: 0;
  }
  .btn:after {
    right: 0;
  }
  footer {
    padding: 23px 0 50px;
    line-height: 135%;
  }
  footer .box-text p {
    margin: 0 0 12px;
  }
  footer .box-text p:last-child {
    margin: 0;
  }
  .footer-box {
    width: 100%;
    margin: 0 auto 12px;
    text-align: center;
  }
  .footer-box:last-child {
    margin: 0 auto;
    text-align: center;
  }
  .footer-box:last-child a {
    margin: 0 auto 12px;
  }
  .footer-box:last-child a:last-child {
    margin: 0 auto 0;
  }
  .footer-top .meta-text {
    display: block;
    opacity: 0.5;
    margin: 0 auto 20px;
  }
  .footer-bottom {
    margin: 8px 0 0;
    text-align: center;
    font-size: 12px;
  }
  .footer-bottom .container {
    justify-content: center;
  }
  .footer-bottom .meta-text {
    display: none;
  }
  .home {
    padding: 130px 0 50px;
  }
  .home h1, .home .h1 {
    font-size: 56px;
  }
  .home-content {
    max-width: 380px;
  }
  .home-content .box-text {
    max-width: 326px;
    font-size: 16px;
    margin: 20px auto;
  }
  .home-image {
    width: calc(100% - 380px);
  }
  .slogan {
    max-width: 320px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 13px;
  }
  .home-image-text {
    max-width: 450px;
    padding: 10px 20px 30px;
  }
  .home-image-text::before {
    width: 450px;
    height: 300px;
  }
  header {
    max-width: 400px;
  }
  .date-box {
    padding: 10px 14px;
    font-size: 16px;
  }
  .date-box p {
    font-size: 18px;
  }
  .col-50 {
    width: 100%;
  }
  .author {
    padding: 100px 0 0;
    margin: 0 0 50px;
  }
  .author h2 {
    max-width: 560px;
  }
  .author-text {
    margin: -50px auto 0;
  }
  .author-text:before {
    width: 200px;
    height: 180px;
    left: -80px;
  }
  .text-description {
    max-width: 500px;
    margin: 20px auto;
  }
  .combine-description {
    padding: 20px 20px 20px 53px;
    background: #A67C8C url("../img/combine-bg-icon-mobile.svg") no-repeat left center;
    background-size: contain;
    border-radius: 20px;
  }
  .combine-help {
    padding: 0 0 0 18px;
  }
  .combine-help::before {
    width: 3px;
    height: calc(100% - 11px);
  }
  .about-course-content {
    max-width: 380px;
  }
  .about-course-history {
    border-radius: 20px;
    padding: 20px;
  }
  .about-course .box-text {
    margin: 15px 0;
  }
  .about-course .box-text p img {
    max-width: 12px;
  }
  .about-course-blockquote {
    margin: 15px 0 0;
    align-items: flex-start;
  }
  .about-course-blockquote .photo {
    width: 70px;
    min-width: 70px;
    margin: 0 10px 0 0;
  }
  .on-course .col-30 {
    width: 100%;
  }
  .on-course-card {
    margin: 0 0 15px;
    font-size: 20px;
  }
  .on-course-card h4 {
    font-size: 24px;
  }
  .on-course-card__img img {
    border-radius: 15px;
  }
  .on-course-card__body {
    margin: 15px 0 0;
  }
  .on-course-total {
    border-radius: 20px;
    font-size: 16px;
  }
  .on-course-total h3 {
    font-size: 28px;
  }
  .what-awaits {
    margin: 0 0 50px;
  }
  .what-awaits-box {
    max-width: 295px;
    margin: 0 auto 10px;
    transform: none;
    font-size: 18px;
    line-height: 130%;
    padding: 130px 30px 45px;
    background: url("../img/awaits-bg1-mobile.png") no-repeat center top;
    background-size: 100%;
  }
  .what-awaits-box2 {
    padding: 45px 20px 114px;
    background: url("../img/awaits-bg2-mobile.png") no-repeat center;
    background-size: 100%;
  }
  .what-awaits-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .tabs-information {
    width: 100%;
  }
  .tabs-list {
    max-width: none;
  }
  .steps-courses h2 {
    margin: 0 auto 15px;
  }
  .tabs__caption .tabs-mouse {
    width: 100%;
    order: -1;
    margin: 0 0 10px;
    height: auto;
  }
  .result-courses h4 {
    margin: 0 auto;
  }
  .result-courses-box {
    max-width: none;
    width: 100%;
    transform: none;
    margin: 0 auto 10px;
  }
  .result-courses-box:nth-child(even) {
    transform: none;
  }
  .result-courses-wrapper {
    flex-direction: column;
    margin: 0 auto 10px;
  }
  .for-whom h3 {
    font-size: 20px;
  }
  .for-whom .col-30 {
    width: 100%;
  }
  .for-whom-box {
    font-size: 18px;
  }
  .for-whom-box .box-text {
    font-size: 18px;
  }
  .for-whom-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0 0;
  }
  .for-whom-footer .box-text {
    max-width: none;
    margin: 0 auto 20px;
    font-size: 20px;
  }
  .text-decor::before {
    width: 30px;
    height: 28px;
    margin: 0 auto 15px;
  }
  .prices .subtitle-text {
    max-width: 650px;
  }
  .price-card {
    max-width: 400px;
    font-size: 18px;
  }
  .price-card__head {
    border-radius: 15px;
    height: 155px;
  }
  .price-card__body {
    padding: 20px;
    margin: 10px 0 0;
    border-radius: 15px;
  }
  .price-card__body ul span {
    font-size: 16px;
  }
  .price-card__body ul ul {
    font-size: 16px;
  }
  .price-card__footer {
    margin: 10px 0 0;
  }
  .price-card h4 {
    margin: 15px 0 6px;
    font-size: 26px;
  }
  .price-card .price {
    font-size: 35px;
    margin: 30px auto 0;
  }
  .list-decor > li {
    margin: 0 0 10px;
  }
  .list-decor > li:last-child {
    margin: 0;
  }
  .list-decor > li p::before {
    width: 15px;
    height: 13px;
    min-width: 15px;
    margin: 5px 10px 0 0;
  }
  .list-dots li::before {
    width: 5px;
    height: 5px;
    min-width: 5px;
    margin: 6px 5px 0 0;
  }
  .price-card3 .price {
    margin: 0;
  }
  .places {
    font-size: 16px;
    margin: 30px auto 2px;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 56px;
    line-height: 90%;
  }
  .h1 {
    font-size: 39px;
    line-height: 100%;
  }
  h2, .h2 {
    font-size: 40px;
    line-height: 100%;
    margin: 0 auto 15px;
  }
  h3, .h3 {
    font-size: 28px;
    line-height: 110%;
    margin: 0 auto 15px;
  }
  body {
    font-size: 16px;
    line-height: 130%;
  }
  .text-decor::before {
    width: 30px;
    height: 25px;
    min-width: 30px;
    margin: 0 auto 15px;
  }
  footer {
    font-size: 14px;
  }
  footer .h1 {
    margin: 0 auto 20px;
  }
  .footer-bottom {
    font-size: 12px;
  }
  .footer-box:last-child a {
    margin: 0 auto 12px;
  }
  .footer-box:last-child a:last-child {
    margin: 0 auto 12px;
  }
  .list-social li {
    margin: 0 10px 0 0;
  }
  .list-social li:last-child {
    margin: 0;
  }
  .list-social li a {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }
  .d-pc {
    display: none;
  }
  .d-mobile {
    display: block;
  }
  .box-text p {
    margin: 0 0 15px;
  }
  .box-text p:last-child {
    margin: 0;
  }
  .meta-text {
    font-size: 12px;
  }
  .home {
    padding: 180px 0 130px;
    background: url("../img/home-bg-mobile.png") no-repeat center bottom;
    background-size: cover;
  }
  .home-image {
    width: 100%;
    order: 1;
    margin: 283px 0 0;
  }
  .slogan {
    padding: 0 10px;
  }
  .home-content {
    max-width: 100%;
  }
  .home-content .box-text {
    max-width: 226px;
    font-size: 16px;
    margin: 20px auto;
  }
  .home-content .btn {
    max-width: 300px;
    margin: 0 auto;
  }
  .home-image-text {
    max-width: 300px;
    font-size: 14px;
  }
  .home-image-text img {
    max-width: 15px;
    margin: 0 auto 6px;
  }
  .home-image-text::before {
    width: 350px;
    height: 200px;
  }
  header {
    max-width: none;
    padding: 20px 0 0;
  }
  header .logo {
    width: calc(100% - 55px);
  }
  .date-box {
    border-radius: 5px;
    order: 1;
    display: flex;
    align-items: center;
    margin: 30px auto 0;
    padding: 10px 14px;
    font-size: 16px;
  }
  .date-box p {
    font-size: 18px;
  }
  .date-box span {
    margin: 0 0 0 2px;
  }
  .routine .box-text {
    max-width: 300px;
  }
  .routine-top {
    padding: 0 0 162px;
  }
  .routine-bottom {
    padding: 0;
  }
  .routine {
    margin: 0 0 50px;
  }
  .routine h3 {
    max-width: 300px;
    margin: 0 auto 15px;
  }
  .routine-icons {
    max-width: 130px;
    margin: 0 auto 15px;
  }
  .signs-wrapper {
    background: #232323;
  }
  .signs-box__number {
    width: 45px;
    height: 45px;
    min-width: 45px;
    font-size: 26px;
  }
  .signs-box__number::before {
    width: 45px;
    height: 45px;
    min-width: 45px;
  }
  .signs-box__text {
    margin: -23px 0 0;
    padding: 33px 20px 20px;
  }
  .signs-box__text .box-text {
    font-size: 16px;
  }
  .signs-box h4 {
    margin: 0 0 6px;
  }
  .think-about .box-text {
    margin: 10px 0;
  }
  .think-about-question::before {
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
    min-width: 50px;
    background-size: 26px;
  }
  .think-about__img {
    margin: 0 0 -60px;
  }
  .think-about-info {
    padding: 20px 20px 20px 55px;
    border-radius: 20px;
    background-size: 104px;
  }
  .author h2 {
    max-width: 450px;
  }
  .author-text {
    padding: 20px 25px;
    border-radius: 20px;
    background: #4B6359 url("../img/author-icon1-mobile.svg") no-repeat center;
    background-size: 100%;
    margin: -30px auto 0;
  }
  .author-text::before {
    width: 40px;
    height: 48px;
    left: -15px;
    bottom: 55px;
  }
  .text-description {
    max-width: 230px;
  }
  .combine-box {
    border-radius: 20px;
  }
  .combine-history::before {
    width: 50px;
    min-width: 50px;
    height: 90px;
    margin: 0 10px 0 0;
  }
  .about-course {
    padding: 50px 0 560px;
    background: url("../img/about-course-mobile.png") no-repeat center bottom;
    background-size: 100%;
  }
  .about-course-content {
    max-width: none;
  }
  .about-course-blockquote {
    font-size: 14px;
    line-height: 130%;
  }
  .about-course .h1, .about-course h2.h1 {
    font-size: 56px;
  }
  .about-course-history {
    background: #A67C8C url("../img/about-history-bg-mobile.svg") no-repeat center;
    background-size: cover;
  }
  .tabs__caption li {
    width: 70px;
    height: 60px;
    margin: 0 7px 7px 0;
    font-size: 30px;
  }
  .tabs__caption .tabs-mouse {
    font-size: 14px;
    margin: 0 0 10px;
  }
  .tabs__caption .tabs-mouse::before {
    width: 19px;
    min-width: 19px;
    height: 21px;
    margin: 0 10px 0 0;
  }
  .tabs-information {
    margin: 8px 0 0;
  }
  .steps-courses-box__head {
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }
  .steps-courses-box__number {
    font-size: 14px;
    margin: 0 0 6px;
  }
  .steps-courses-box__body {
    margin: 4px 0 10px;
    font-size: 16px;
  }
  .steps-courses-box__body .box-text::before {
    width: 12px;
    height: 10px;
    min-width: 12px;
    margin: 0 7px 0 0;
  }
  .steps-courses-box__footer {
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
  }
  .subtitle-text {
    font-size: 16px;
    margin: 0 auto 15px;
  }
  .for-whom h3 {
    font-size: 16px;
  }
  .for-whom .subtitle-text {
    margin: 0 auto 15px;
    font-size: 16px;
    max-width: 240px;
  }
  .for-whom-box {
    font-size: 16px;
    padding: 150px 20px 20px 20px;
    margin: 0 0 10px;
  }
  .for-whom-box .box-text {
    font-size: 16px;
  }
  .for-whom-footer .box-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 420px) {
  .home-image {
    margin: 180px 0 0;
  }
  .home {
    padding: 180px 0 88px;
  }
  h2, .h2 {
    font-size: 34px;
  }
  h3, .h3 {
    font-size: 26px;
  }
  .about-course {
    padding: 50px 0 400px;
  }
  .on-course-total {
    padding: 20px 20px 103px;
  }
  .prices {
    margin: 0 0 -30px;
  }
}
@media only screen and (max-width: 370px) {
  .about-course {
    padding: 50px 0 360px;
  }
}